<h1>Welcome to Alpha Blog, <%= @user.username %></h1>
<p> You have successfully signed up </p>
<p> Confirm your email address by clicking this <%= link_to 'link', confirm_email_user_url(@user.confirm_token) %></p>
<p> Thanks for joining and have a great day! </p>
