<div id="page-content">
  <div id="home-container" class="container">
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead mt-3 mb-5">The place to read the latest and greatest blog posts the internet has to offer</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Sign up today</a>
      </div>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "My Githhub", "https://github.com/victoria-hodder-as", class: "text-white" %></small>
  </div>
</footer>
