<h3>Search Result</h3>

<% if @articles.empty? %>
  <strong> No results found </strong> 
<% else %>
  <% @articles.each do |article| %>  
      <%= link_to article.title, article_path(article) %><br>
  <% end %>
<% end %>
