<div id="home-container" class="container">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">You have successfully confirmed your email </h1>
      <p class="lead mt-3 mb-5">
        You can now log in by clicking the button below
      </p>
      <%= link_to "Log in!", login_path, class: "btn btn-info btn-lg" %>
      </div>
  </div>
</div>