@import 'bootstrap/dist/css/bootstrap';

.jumbotron {
  background-position: center center;
  background-size: cover;
  background-color: white;
}

.form-bg {
  background-color:#e07486;
}

#home-container {
  margin-top: 25px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

// Code for sticky footer

html,
body {
  height: 100%;
  background-color: white;
}

#page-content {
  flex: 1 0 auto;
  background-color: #EDF7F6;
}

#sticky-footer {
  flex-shrink: none;
}

.gravatar {
  margin: 5px;
}

/* Pagination styling */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, 
  span, 
  em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
    color: black;
  }

  .disabled {
    color: grey;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    color: black; 
  }

  a {
    border: 1px solid whitesmoke;
    color: black;
    text-decoration: none; 
  }

  a:hover, 
  a:focus {
    border-color: grey;
    background: whitesmoke;
    color: grey; 
  }

  .page_info {
    color: black;
    padding-top: 0.8em; 
  }

  .previous_page, 
  .next_page {
    border-width: 2px; 
  }

  .previous_page {
    margin-right: 1em; 
  }

  .next_page {
    margin-left: 1em; 
  }

}
