@import 'bootstrap/dist/css/bootstrap';
// To override any bootstrap classes


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-position: center center;
  background-size: cover;
}

#home-container {
  margin-top: 25px;
}

html,
body {
  height: 100%;
  background-color: white;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}